In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
features = data.iloc[:,1:-1].values
goals = data.iloc[:,-1].values

In [4]:
from sklearn.preprocessing import LabelEncoder
features[:,0] = LabelEncoder().fit_transform(features[:,0])

In [15]:
from sklearn.preprocessing import StandardScaler
features = StandardScaler().fit_transform(features)
pd.DataFrame(features)

            0         1         2
0    1.020204 -1.781797 -1.490046
1    1.020204 -0.253587 -1.460681
2   -0.980196 -1.113206 -0.785290
3   -0.980196 -1.017692 -0.374182
4    1.020204 -1.781797  0.183751
5    1.020204 -1.017692 -0.344817
6   -0.980196 -1.017692  0.418669
7   -0.980196 -0.540127  2.356750
8    1.020204 -1.208719 -1.078938
9   -0.980196 -0.253587 -0.139263
10  -0.980196 -1.113206  0.301210
11  -0.980196 -1.113206 -0.521006
12   1.020204 -1.686284  0.477399
13   1.020204 -0.540127 -1.519411
14   1.020204 -1.877311  0.359940
15   1.020204 -0.826666  0.301210
16   1.020204  0.892570 -1.313857
17   1.020204  0.701544 -1.284492
18   1.020204  0.797057 -1.225763
19  -0.980196  0.988083 -1.196398
20   1.020204  0.701544 -1.401952
21  -0.980196  0.892570 -0.609101
22   1.020204  0.988083 -0.844019
23  -0.980196  0.701544 -1.401952
24   1.020204  0.797057 -1.372587
25   1.020204  0.892570 -1.460681
26   1.020204  1.083596 -1.225763
27  -0.980196  0.892570 -1.167033
28   1.020204 -0.826666 -0.785290
29   1.020204 -0.635640 -1.519411
..        ...       ...       ...
370 -0.980196  2.134241 -0.697195
371  1.020204  2.134241  0.389305
372 -0.980196  0.128465  0.095656
373  1.020204  2.038728  1.769453
374 -0.980196 -0.062561  0.301210
375 -0.980196  0.797057 -1.108303
376 -0.980196  0.797057  0.125021
377 -0.980196  0.415005 -0.491641
378  1.020204  0.319491  0.506764
379 -0.980196  1.943215 -1.372587
380  1.020204  0.415005 -0.168628
381  1.020204  0.988083 -1.078938
382 -0.980196  0.606031  2.033737
383  1.020204  1.083596 -1.225763
384 -0.980196  1.847701 -1.078938
385  1.020204  1.752188 -0.286087
386 -0.980196  1.083596 -0.902749
387  1.020204  0.128465  0.036926
388  1.020204  0.892570 -1.049573
389 -0.980196  0.988083 -1.020209
390  1.020204  0.988083 -1.078938
391  1.020204  0.892570 -1.372587
392 -0.980196  0.701544 -0.726560
393  1.020204  2.134241 -0.814655
394 -0.980196  0.128465 -0.315452
395 -0.980196  0.797057 -0.844019
396  1.020204  1.274623 -1.372587
397 -0.980196  1.179110 -1.460681
398  1.020204 -0.158074 -1.078938
399 -0.980196  1.083596 -0.990844

[400 rows x 3 columns]

In [16]:
from sklearn.model_selection import train_test_split
input,test_input ,output,test_output = train_test_split(features,goals,test_size = .2, random_state = 0)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(input,output)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [32]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(test_output,classifier.predict(test_input))
pd.DataFrame(cm)

    0   1
0  55   3
1   1  21

In [36]:
for k in [1, 3, 5, 10, 20, 100, 150, len(input)]:
    classifier = KNeighborsClassifier(n_neighbors=k)
    classifier.fit(input,output)
    cm
    print('K = %d\n-------------'%k)
    print(pd.DataFrame(cm))
    print("model accuracy : {:.4f}".format(classifier.score(test_input,test_output)))
    print('-------------\n\n')

K = 1
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.9250
-------------


K = 3
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.9500
-------------


K = 5
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.9500
-------------


K = 10
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.9500
-------------


K = 20
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.9500
-------------


K = 100
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.8500
-------------


K = 150
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.8375
-------------


K = 320
-------------
    0   1
0  55   3
1   1  21
model accuracy : 0.7250
-------------