In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_csv('data/Social_Network_Ads.csv')
features = dataset.iloc[:,2:-1].values
goal = dataset.iloc[:,-1].values
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
features = scaler.fit_transform(features)

In [7]:
from sklearn.model_selection import train_test_split
train_set, test_set, goal_train, goal_test = train_test_split(features,goal,test_size =0.2,random_state=0)

In [8]:
from sklearn.naive_bayes import GaussianNB
class1 = GaussianNB()
class1.fit(train_set,goal_train)

GaussianNB(priors=None)

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(goal_test, class1.predict(test_set))
print(class1.score(test_set, goal_test))
pd.DataFrame(cm)

0.9125

    0   1
0  55   3
1   4  18